*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --amarelo: #CA9B5B; 
    --preto: black;
    --cinza: #171717;
    --branco: white; 
    --font-principal: 'Playfair Display', serif;
    --font-secundaria: 'Oswald', sans-serif; 
    --font-terciaria: 'Open Sans', sans-serif;

}
.header{
   
}
.link{
    text-decoration: none;
    font-family:var(--font-principal) ;
    color: var(--cinza);
    font-weight: bolder;
    font-size: 18px;
    margin-left: 1rem;
}
.link4{
    padding-left: 1 rem;
}
.link:hover {
    text-decoration: underline;
  color: var(--cinza);
} 
.link-strong{
    text-decoration: none;
    font-family:var(--font-principal) ;
    color: var(--amarelo);
    font-weight: bolder;
    font-size: 18px;
   
}
.link-strong:hover {
    text-decoration: underline;
  color: var(--amarelo);
} 

.link2{
    text-decoration: none;
    font-family:var(--font-secundaria) ;
    color: var(--cinza);
    font-size: 14px;
    padding-right: 10px;
    padding-left: 10px;
}
.link2:hover{
    color: var(--amarelo);
    text-decoration: underline;
}

.link-icon{
    color: #d8a762e5;
    margin-right: 20px;
}
.container-fluid{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    margin-top: 1.3rem;
}

.options{
    padding-left: -40px;
}

/*  carrosel  */
.container-frase-carrossel{
    height: 300px;
    text-align: center;
    padding-top: 70px;
    width: 500px;
  
}



h4{
    font-family: var(--font-principal);
    font-size: 50%;
    
}
h5{
    font-family: var(--font-secundaria);
    color: var(--amarelo);
}
p{
    font-family: var(--font-terciaria);
}

/* história */


.container-history{
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    margin-top: 4rem;
    
    max-width: 1200px;
}
.img-history{
max-width: 500px;
max-height: 500px;
}
.container-history-right{
    margin: auto;
    text-align: center;
}

.text-p-history{text-align: start;
padding-left: 1rem;
padding: 2rem 2rem 2rem;
}

h3{
    font-family: var(--font-terciaria);
    color: gray;
    font-size: 0.01rem;
    padding-bottom: 1rem;
}

h1{
    font-family: var(--font-principal);
    font-weight: bold;
    font-size: 10px;
}

.btn-history{
    display: block;
    text-decoration: none;
    background-color: var(--amarelo);
    margin: auto;
    height: 4rem;
    width: 10rem;
    padding-top: 1rem;
    color: var(--branco);
    text-align: center;
    border-radius: 1rem;
}

.btn-history:hover{
    color: var(--cinza);
}

/*  services */

.container-services{
    background-image: url(assets/Captura\ de\ tela\ 2024-01-30\ 103009.png);
background-size: cover;
display: flex;
color: var(--branco);
margin-top: 6rem;
padding-top: 3rem;

}
.container-services-left{
    margin-left: 4rem;
    padding-right: 3rem;
}

.linha{
    color: var(--amarelo);
    font-size: 30px;
}

.material-symbols-outlined{
    color: #CA9B5B;
}


.btn-price{
    margin-bottom: 2rem;
    margin-top: 2rem;
}

/* Clients */

.img-client{
    width: 100px;
    height: 100px;
    margin-bottom: 1rem;
}
.container-clients{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 9rem 5rem ;

}

.container-clientes-left{
    margin-right: 5rem;
}

/* map */
.localization{
    margin: auto;
    width: 100%;
    height: 500px;
    }
/* Contact */

.container-footer{
    background-color: var(--cinza);
    color: var(--branco);
    text-decoration: none;
    display: flex;
    height: 350px;
    justify-content: space-around;
    padding-top: 110px;
   
}

.container-footer-left{
    font-family: var(--font-secundaria);
}
.container-footer-right{
    text-decoration: none;
}
.link-footer{
    text-decoration: none;
    color: lightgray;
    font-family: var(--font-principal);
}
.link-footer:hover{
    color: var(--amarelo);
}

/* rights */
.rights{
    background-color:#0e0d0d;
    color: var(--branco);
    font-family: var(--font-principal);
    height: 80px;
    font-size: 12px ;
    text-align: center;
    padding-top: 2rem;

}
.link-rights{
    text-decoration: none;
    color: var(--amarelo);
}
.link-rights:hover{
    color: var(--branco);
}